# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: geometric-lib testing

on:  
  push:
    branches:
      - '*'

jobs:
  test:
  
    runs-on: ${{ matrix.os }} 
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
  
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.
        if: always()
        uses: actions/setup-python@v3 
        with:  
          python-version: "3.10"
          
      - name: Install dependencies
        if: always()
        run: |
          pip install --upgrade pip
          
      - name: Test rectangle.py
        if: always()
        run: |
          python3 rectangle.py
        
      - name: Test square.py
        if: always()
        run: |
          python3 square.py
          
      - name: Test circle.py
        if: always()
        run: |
          python3 circle.py
          
      - name: Test triangle.py
        if: always()
        run: |
          python3 triangle.py
